@import "variables";
@import "mixins";

content-view {
  display: block;
  border-left: 1px solid @c-gray;

  .summary {
    .border();
  }

  .content__elements {
    & .content__element {
      .border();
      border-color: @c-gray-light;
      border-top: none;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      &:hover {
        .hover();
      }
      &:last-child {
        border-bottom: 1px solid @c-dark;
      }
    }
  }

  .content__new-element {
    .border();
  }

  .content__filters {
    .border();
  }
}