<div class="elements-view__ctrls">
  <form ng-submit="setWidth()">
    <label>Width: <input type="number" ng-model="model.width" min="100" max="600" step="1"></label>
    <button type="submit">Set</button>
  </form>
</div>
<div class="elements">
  <button class="elements__button">BUTTON</button>
  <div ng-if="elements.length"
       ng-repeat="element in elements"
       class="element"
       ng-mouseenter="mouseHover(element.id)"
       ng-mouseleave="mouseHover(element.id)">
    <div class="element__text">{{element.title}}</div>
    <div class="element__blocks" ng-if="isVisebleBlocks[element.id]">
      <div class="element__block"></div>
      <div class="element__block"></div>
    </div>
  </div>
</div>